#container {
	width:500px;
}

.tetris_button {
	padding:40px;
	background-color:#343434;
	width:30%;
	color:white;
	clear:both;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
}

#button_group div {
	margin:10px auto;
}
